/**
 * Site header
 */
.site-header {
	min-height: $spacing-unit * 1.865;
	line-height: $base-line-height * $base-font-size * 2.25;
	background-color: $grey-color;
	// Positioning context for the mobile navigation icon
	position: relative;
	margin-top: 3rem;
	padding-left: 1rem;
	.wrapper {
		display: block;
	}
	#logo {
		display: inline-block;
		float: left;
		margin-right: 20px;
		width: 50px;
		height: 50px;
		border-radius: 5px;
		filter: grayscale(100%);
		background-size: 50px 50px;
		background-repeat: no-repeat;
		-webkit-filter: grayscale(100%);
		&:hover {
			filter: none;
		}
	}
}
.site-title {
	color: $text-color;
	text-decoration: none;
	@include relative-font-size(1.625);
	font-weight: 300;
	letter-spacing: -1px;
	margin-bottom: 0;
	
	@include media-query($on-palm) {
		padding-right: 45px;
	}

	&,
	&:visited,
	&:hover {
		color: $text-color;
		font-weight: bold;
	}
}
.site-nav {
	position: absolute;
	top: 9px;
	right: $spacing-unit / 2;
	background-color: $background-color;
	border: 1px solid $grey-color-light;
	border-radius: 5px;
	text-align: left;
	line-height: 1;

	.nav-trigger {
		display: none;
	}
	.menu-icon {
		float: right;
		width: 36px;
		height: 26px;
		line-height: 0;
		padding-top: 10px;
		text-align: center;

		> svg path {
			fill: $grey-color-dark;
		}
	}
	label[for="nav-trigger"] {
		display: block;
		float: right;
		width: 36px;
		height: 36px;
		z-index: 2;
		cursor: pointer;
	}
	input ~ .trigger {
		clear: both;
		display: none;
	}
	input:checked ~ .trigger {
		display: block;
		padding-bottom: 5px;
	}
	.page-link {
		color: $grey-color-light;
		line-height: $base-line-height;
		display: block;
		padding: 5px 10px;
		text-decoration: underline;
		@include media-query($on-palm) {
			color: $grey-color-dark;
		}
		// Gaps between nav items, but not on the last one
		&:not(:last-child) {
			margin-right: 0;
		}
		margin-left: 20px;
	}

	@media screen and (min-width: $on-medium) {
		position: static;
		border: none;
		background-color: inherit;

		label[for="nav-trigger"] {
			display: none;
		}
		.menu-icon {
			display: none;
		}

		input ~ .trigger {
			display: inline-block;
		}

		.page-link {
			display: inline;
			padding: 0;

			&:not(:last-child) {
				margin-right: 20px;
			}
			margin-left: auto;
		}
	}
}

/**
 * Site footer
 */
.site-footer {
	position: absolute;
	bottom: 0;
	border-top: 1px solid $grey-color-light;
	padding: $spacing-unit 0;
	margin-bottom: $spacing-unit;
	height: 140px;
	width: 100%;
	.wrapper {
		width: 95%;
	}
}

.footer-heading {
	@include relative-font-size(1.125);
	margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
	list-style: none;
	margin-left: 0;
}

.footer-col-wrapper {
	@include relative-font-size(0.9375);
	color: $grey-color-light;
	margin-left: -$spacing-unit / 2;
	@extend %clearfix;
}

.footer-col {
	width: -webkit-calc(100% - (#{$spacing-unit} / 2));
	width:         calc(100% - (#{$spacing-unit} / 2));
	margin-bottom: $spacing-unit / 2;
	padding-left: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
	width: -webkit-calc(50% - (#{$spacing-unit} / 2));
	width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
	width: -webkit-calc(100% - (#{$spacing-unit} / 2));
	width:         calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
	.footer-col-1 {
		width: -webkit-calc(35% - (#{$spacing-unit} / 2));
		width:         calc(35% - (#{$spacing-unit} / 2));
	}
	.footer-col-2 {
		width: -webkit-calc(20% - (#{$spacing-unit} / 2));
		width:         calc(20% - (#{$spacing-unit} / 2));
	}
	.footer-col-3 {
		width: -webkit-calc(45% - (#{$spacing-unit} / 2));
		width:         calc(45% - (#{$spacing-unit} / 2));
	}
}
@media screen and (min-width: $on-medium) {
	.footer-col {
		float: left;
	}
}
/**
 * Page content
 */
.page-content {
	padding: $spacing-unit 0 280px 0;
	flex: auto;
	@include media-query($on-palm) {
		div.wrapper {
			width: 95%;
		}
	}
}

.page-heading {
	@include relative-font-size(2);
}

.post-list-heading {
	@include relative-font-size(1.5);
}

.post-list {
	margin-left: 0;
	list-style: none;
	> li {
		margin-bottom: $spacing-unit-bot;
		@include media-query($on-palm) {
			> span:nth-child(2) {
				display: block;
				margin: 5px 5px 10px 10px;
			}
			> span:nth-child(3) {
				display: block;
				margin-left: 10px;
			}
		}
	}
	> li > h3 {
		margin-bottom: 5px;
	}
}
.post-meta {
	display: inline-block;
	@include relative-font-size(1);
	color: $grey-color-light;
	margin-right: 6px;
}
.post-link {
	background-image: linear-gradient(transparent, transparent 4px, $text-color 4px, $text-color);
	text-decoration: none;
	@include relative-font-size(1);
	&:hover {
		background-image: linear-gradient(transparent, transparent 4px, $brand-color 4px, $brand-color);
	}
}
.tags {
	text-decoration: none;
	.highligher-rouge {
		border: 1px solid #585656;
		background-color: #4848487a;
	}
}
/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
	@include relative-font-size(1.4);
	letter-spacing: -1px;
	line-height: 1;
	@include header-before(1.4);
	@media screen and (min-width: $on-large) {
		@include relative-font-size(1.4);
	}
}
.post-content {
	margin-bottom: $spacing-unit;
	h2 {
		@include relative-font-size(1.3);
		@include header-before(1.3);
		@media screen and (min-width: $on-large) {
			@include relative-font-size(1.3);
		}
	}
	h3 {
		@include relative-font-size(1.2);
		@include header-before(1.2);
		@media screen and (min-width: $on-large) {
			@include relative-font-size(1.2);
		}
	}
	h4 {
		@include relative-font-size(1.1);
		@include header-before(1.1);
		@media screen and (min-width: $on-large) {
			@include relative-font-size(1.1);
		}
	}
}
/* Pagination */
.pagination {
	margin-top: 3rem;
	text-align: center;
}

.social-media-list {
	display: table;
	margin: 0 auto;
	li {
		float: left;
		margin: 0 5px;
		&:first-of-type { margin-left: 0 }
		&:last-of-type { margin-right: 0 }
		a {
			display: block;
			padding: $spacing-unit / 4;
		}
		&:hover .svg-icon { fill: currentColor; }
	}
}
/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
	.one-half {
		width: -webkit-calc(50% - (#{$spacing-unit} / 2));
		width:         calc(50% - (#{$spacing-unit} / 2));
	}
}
